@use '../../../../styles/vars';

.roadmap {
    padding-bottom: 60px;
}

/* single roadmap item */
.roadmap__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    transition: vars.$transition;
    transition-property: opacity;
    text-align: center;
}

/* illustration */
.roadmap__img {
    width: 60px;
    margin-bottom: 20px;
}

/* name */
.roadmap__title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* description */
.roadmap__description {
    max-width: 80%;
    margin-top: auto;
}

/* SCREEN ADAPTATION */
/* tablets */
@media (min-width: vars.$screen-md) {
    .roadmap {
        padding-bottom: 90px;
    }

    /* illustration */
    .roadmap__img {
        width: 70px;
    }
}

/* desktop */
@media (min-width: vars.$screen-lg) {
    .roadmap {
        padding-bottom: 180px;
    }

    /* illustration */
    .roadmap__img {
        width: 80px;
    }

    /* name */
    .roadmap__title {
        font-size: 18px;
    }
}
