@use '../../styles/vars';

.modal-window {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(vars.$black, 0.75);
    opacity: 0;
    transition: vars.$transition;
    transition-property: opacity;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    &.modal-window--active {
        opacity: 1;

        .modal-window__inner {
            transform: translate3d(0, 0, 0);
        }
    }
}

.modal-window__inner {
    min-width: 50%;
    max-width: 90%;
    max-height: 75vh;
    padding: 20px;
    background-color: vars.$white;
    border-radius: 8px;
    transform: translate3d(0, 50vh, 0);
    transition: vars.$transition;
    cursor: auto;
    overflow: auto;
}