@use '../../../../styles/vars';

#contact {
    margin-bottom: 60px;
}

.contact__inner {
    padding: 40px 30px;
    background-color: vars.$purple;

    /* section title */
    .title {
        margin-bottom: 30px;
        text-align: left;
    }
}

/* wrapper for the inputs */
.contact__form-input-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 30px;
}

/* form input */
.contact__input {
    padding: 0 25px 10px 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) 2px;
    background-size: 15px;
    border: none;
    border-bottom: 1px solid vars.$white;
    font-size: 14px;
    letter-spacing: 0.5px;

    &::placeholder {
        color: vars.$white;
    }

    /* icon modificators */
    &[name='name'] {
        background-image: url('../../../../images/icons/user.svg');
    }

    &[name='phone'] {
        background-image: url('../../../../images/icons/phone.svg');
    }

    &[name='email'] {
        background-image: url('../../../../images/icons/mail.svg');
    }
}

/* submit button wrapper */
.contact__form-submit-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}

/* submit button */
.contact__form-submit-wrapper .btn {
    width: 100%;
    background-color: vars.$black;
}

/* submit button paragraph */
.contact__form-submit-wrapper .paragraph {
    color: vars.$black;
    font-weight: 700;
}

/* SCREEN ADAPTATION */
/* tablets */
@media (min-width: vars.$screen-md) {
    #contact {
        margin-bottom: 90px;
    }
}

/* desktop */
@media (min-width: vars.$screen-lg) {
    #contact {
        margin-bottom: 120px;
    }

    /* wrapper for the inputs */
    .contact__form-input-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    /* submit button wrapper */
    .contact__form-submit-wrapper {
        grid-template-columns: 1fr 2fr;
        column-gap: 30px;
        align-items: start;
    }
}
