/* fonts */
@use '../fonts/fonts.scss';
/* variables */
@use './_vars.scss';

*,
*::before,
*::after {
    /* reset default styles */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* set common styles */
    color: inherit;
    line-height: 150%;
    text-wrap: balance;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* main size container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* SCREEN ADAPTATION */
@media (max-width: vars.$smallScreen) {
}

/* tablets */
@media (max-width: vars.$tablet) {
}

/* mobile phones */
@media (max-width: vars.$phone) {
}
