@use '../../../../styles/vars';

#plans {
    padding-bottom: 60px;
    background-image: url('./img/plans-bg.webp');
    background-size: cover;
    border-top: 1px solid vars.$gray;
    border-bottom: 1px solid vars.$gray;
}

/* wrapper for all of the cards */
.plans__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

/* single plan card */
.plans__card {
    display: flex;
    flex-direction: column;
    background-color: vars.$black;
    padding-top: 30px;
    border-radius: 4px;
    transition: vars.$transition;
    transition-property: background-color, transform, opacity;
    overflow: hidden;

    &:hover {
        background-color: vars.$white;

        .plans__name,
        .plans__list-item {
            color: vars.$black;
        }
    }

    /* bottom link */
    .btn {
        margin-top: auto;
    }
}

/* card illustration */
.plans__card-img {
    display: none;
}

/* title of a card */
.plans__name {
    margin-bottom: 20px;
}

/* card list */
.plans__list {
    margin-bottom: 20px;
    padding: 0 20px;

    /* unavailable options */
    &.plans__list--disabled {
        display: none;
    }
}

/* card list item */
.plans__list-item {
    margin-bottom: 10px;
    padding-left: 25px;
    background-image: url('../../../../images/icons/checkmark.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left 5px;
}

/* SCREEN ADAPTATION */
/* tablets */
@media (min-width: vars.$screen-md) {
    #plans {
        padding-bottom: 90px;
    }

    /* wrapper for all of the cards */
    .plans__wrapper {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 40px;
    }

    /* single plan card */
    .plans__card {
        padding-top: 0;
    }

    /* card illustration */
    .plans__card-img {
        display: initial;
        height: 100px;
        margin-bottom: 20px;
        object-fit: cover;
    }
}

/* desktop */
@media (min-width: vars.$screen-lg) {
    #plans {
        padding-bottom: 180px;
    }

    /* card list */
    .plans__list {
        margin-bottom: 0;
        padding: 0 40px;

        /* unavailable options */
        &.plans__list--disabled {
            display: initial;
            margin-bottom: 20px;
            opacity: 0.5;
        }
    }
}
