@use '../styles/vars';

/* title */
.title {
    margin-bottom: 20px;
    font-family: vars.$alVeshion;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title--main {
    margin-bottom: 0;
    font-size: 32px;
    text-align: left;
}

.title--sm {
    margin-bottom: 0;
    font-size: 16px;
}

/* link */
.link {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: vars.$transition;
    transition-property: color, transform;

    &:hover,
    &:focus {
        color: vars.$purple;
    }
}

/* paragraph */
.paragraph {
    font-size: 14px;
    letter-spacing: 1px;
}

/* SCREEN ADAPTATION */
/* tablet */
@media (min-width: vars.$screen-md) {
    /* title */
    .title {
        margin-bottom: 30px;
        font-size: 30px;
    }

    .title--main {
        font-size: 40px;
    }

    .title--sm {
        font-size: 20px;
    }
}

/* desktop */
@media (min-width: vars.$screen-lg) {
    /* title */
    .title {
        margin-bottom: 40px;
        font-size: 36px;
    }

    .title--main {
        font-size: 48px;
    }

    .title--sm {
        font-size: 24px;
    }

    /* link */
    .link {
        font-size: 16px;
    }

    /* paragraph */
    .paragraph {
        font-size: 16px;
    }
}
