/* screen sizes */
$screen-xl: 1199.98px;
$screen-lg: 1023.98px;
$screen-md: 767.98px;
$screen-sm: 575.98px;

/* fonts */
$manrope: 'Manrope', sans-serif;
$alVeshion: 'Al Veshion', serif;

/* colors */
$purple: #8b32fe;
$black: #1b1b1b;
$dark-gray: #2d2d2e;
$gray: #615d6d;
$white: #fff;

$transition: 0.35s ease-out;
