/* typography */
@use '../fonts/fonts';
@use './typography';
/* variables */
@use './_vars';
/* components */
@use '../components/button';
@use '../components/dropdown';

*,
*::before,
*::after {
    /* reset default styles */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* set common styles */
    color: vars.$white;
    font-family: vars.$manrope;
    line-height: 150%;
    text-wrap: balance;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: vars.$black;
}

section {
    padding-top: 60px;
}

/* main size container */
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;

    &.container--wide {
        max-width: 2000px;
    }
}

/* SCREEN ADAPTATION */
/* tablets */
@media (min-width: vars.$screen-md) {
    section {
        padding-top: 90px;
    }
}

/* desktop */
@media (min-width: vars.$screen-lg) {
    section {
        padding-top: 120px;
    }
}
