@use '../../../../styles/vars';

/* wrapper for the thumbnails */
.lifestyle__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 250px);
    gap: 10px;
}

/* thumbnail image */
.lifestyle__gallery > .lazy-image {
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    &::after {
        content: url('../../../../images/icons/info.svg');
        width: 30px;
        height: 30px;
        opacity: 0;
        transform: scale(0);
        transform-origin: bottom right;
        transition: vars.$transition;
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 2;
    }

    &:hover,
    &:focus {
        &::after {
            opacity: 1;
            transform: scale(1);
        }
    }
}

/* modal window */
.lifestyle__modal {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    /* picture */
    .lazy-image {
        img {
            border-radius: 8px;
        }
    }

    /* text block */
    .lifestyle__modal-text {
        display: flex;
        flex-direction: column;
    }

    .title,
    .paragraph {
        margin-bottom: 20px;
        color: vars.$black;
        text-align: left;
    }

    /* close button */
    .btn {
        margin-top: auto;
    }
}

/* SCREEN ADAPTATION */
/* desktop */
@media (min-width: vars.$screen-lg) {
    /* wrapper for the thumbnails */
    .lifestyle__gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 300px);
        gap: 20px;
    }

    /* modal window */
    .lifestyle__modal {
        grid-template-columns: repeat(2, 1fr);
    }
}
