@use '../../../../styles/vars';

.intro {
    min-height: 100vh;
    padding: 200px 0;
    background-image: url('./img/intro-bg.webp');
    background-size: cover;
    background-position: center;

    /* title */
    .title--main {
        margin-bottom: 30px;
    }
}

/* play button */
.intro__play {
    display: flex;
    align-items: center;
    column-gap: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        .intro__play-icon {
            circle {
                fill: vars.$black;
                stroke: vars.$purple;
            }

            path {
                fill: vars.$purple;
                stroke: vars.$purple;
            }
        }
    }
}

.intro__play-icon {
    width: 50px;

    circle,
    path {
        transition: vars.$transition;
    }
}

.intro__play-text {
    font-weight: 600;
    letter-spacing: 1px;
}

/* SCREEN ADAPTATION */
/* desktop */
@media (min-width: vars.$screen-lg) {
    .intro__play-text {
        font-size: 20px;
    }
}
