@use '../styles/vars';

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    transition: vars.$transition;
    transition-property: color, background-color, border-color, transform, opacity, visibility;
    cursor: pointer;
}

.btn--primary {
    border: 2px solid transparent;
    background-color: vars.$purple;

    &:hover,
    &:focus {
        background-color: vars.$black;
        border-color: vars.$purple;
    }
}

.btn--rad {
    border-radius: 4px;
}

.btn--secondary {
    background-color: vars.$black;
    border: 1px solid vars.$white;

    &:hover,
    &:focus {
        color: vars.$black;
        background-color: vars.$white;
        border-color: vars.$black;
    }

    &.btn--active {
        color: vars.$black;
        background-color: vars.$white;
    }
}

/* SCREEN ADAPTATION */
/* desktop */
@media (min-width: vars.$screen-lg) {
    .btn {
        font-size: 16px;
    }
}
