@use '../styles/vars';

.dropdown-wrapper {
    padding-right: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: vars.$transition;
    transition-property: color, transform;
    position: relative;
    z-index: 10;

    &:hover,
    &:focus-within {
        & > .dropdown {
            opacity: 1;
            visibility: visible;
            transform: scaleY(1);
        }

        &::after {
            transform: translateY(-50%) scale(1, -1);
        }
    }

    /* chevron */
    &::after {
        content: url('../images/icons/chevron-down.svg');
        width: 12px;
        transform: translateY(-50%);
        transition: vars.$transition;
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;
    }
}

.dropdown {
    opacity: 0.5;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: vars.$transition;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;

    a {
        display: block;
        transition: vars.$transition;
    }
}
